::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background-color: #fff3cc;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9900;
  border-radius: 25px;
}




.App {
  position: relative;
  width: 100%;
  min-height: 91.6vh;
  color: #ff9900;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8df8c;
}

